@import url('https://fonts.googleapis.com/css2?family=Work+Sans&display=swap');

.app {
  font-family: 'Work Sans', sans-serif;
  min-height: 100vh;
  display: flex;
  background-image: url(./wahtsapp.jpg);
  background-position: center;
  /* background-repeat: no-repeat; */
  /* background-size: contain; */
}

